*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    /* height: 200vh; */
}

.position1
{ padding: 0px 50px;

}
.header
{
    background-color: white;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    position: fixed;
   z-index: 9;
    width: 100%;
}

.logo img{
    height: 35px;
    
}
.header .links{
    width: 60%;
   padding-top: 13px;
 
   
}

.header .links ul{
    display: flex;
 
    justify-content: space-between;
    align-items: center;
}
.header .links ul li{
   list-style: none;
}

.header .links ul li a{
    text-decoration: none;
    color: black;
}

.header .hamburger
{
    display: none;
}

.header .links ul .login
{
    border-radius: 20px;
    color: white;
    background-color: #E15352;
    padding: 5px 20px;
}

.home
{

    height: 90vh;
    width: 100%;
    background: url(../assests/homebackground.jpg) no-repeat;
    /* filter: blur(8px); */
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}
.home .leftcol
{

    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.home .leftcol .buttons
{
   
    display: flex;
    justify-content: flex-start;
}
.home .leftcol button{
   padding: 5px 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 25%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 30px;
}

.home .leftcol .buttons button:nth-child(2)
{
    background-color: white;
    color: black;
    border: 1px solid black;
}


.home .leftcol img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    /* border: 1px solid white; */
}


.home h1{

    color: black;
    font-weight: bold;
    /* position: absolute; */
}

.home h1 span{
    color: #E15352;
    
}

.home .leftcol button{
   
    font-size: 8px;
    border: 1px solid white;
}
.home .leftcol button span{
    font-size: 12px;
}

.home .leftcol .logo{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.home .leftcol .logo img{
   
    height: 40px;
    width: 150px;   
}

.whyus h3{
    color: #E15352;
    position: relative;
    background-color: black;  
}

.whyus h3::before{
    content: '';
    height: 1px ;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -45px;
}

.whyus h3::after{
    content: '';
    height: 1px ;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: -45px;
}
.whyus  p{
    position: relative;
    margin-top: 20px;
    line-height: 3rem;
    color: lightgray;
 ;
    /* border: 1px solid white; */


}

.whyus p::before,.features p::before, .corporate p::before{
    content: '';
    height: 2px ;
    width: 100px;
    background-color: #E15352;
    position: absolute;
}
.whyus p::after,.features p::after, .corporate p::after{
    content: '';
       
    height: 2px ;
    width: 100px;
    background-color: #E15352;
    position: absolute;
    bottom: 0;
    right: 0;


}

.whyus
{
    padding: 50px 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 80vh; */
    background-color: black;
    color: white;
}

.whyus .icons i{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: lightgray;
}



.whyus .icons .container , .features .icons .container
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.whyus .icon-wrapper .icons .number, .features .icon-wrapper .icons .number
{
    color: #B34040;
    font-weight: bold;
    padding: 10px 0;
}
.whyus .icon-wrapper .icons .name
{
    color: #FA9C98;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px 0;
    /* font-weight: bold; */
}

.features, .corporate
{
   
    background: url(../assests/homebackground.jpg) no-repeat;
    /* filter: blur(8px); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features
{
    padding: 50px 240px;
}

.corporate
{
    padding: 70px 200px;
}
.features h3{
    color: #E15352;
    position: relative;
    background-color: transparent;  
}

.features h3::before{
    content: '';
    height: 1px ;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: -45px;
}

.features h3::after{
    content: '';
    height: 1px ;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: -45px;
}
.features  p{
  
    position: relative;
    margin-top: 20px;
    line-height: 3rem;

 
    /* border: 1px solid white; */


}

.features .icon-wrapper .icons .name
{
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 10px 0;
    text-align: center;
    /* font-weight: bold; */
}
.features .icons img{
   height: 200px;
   width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: lightgray;
}


.corporate h3{
    color: #E15352;
    position: relative;
    background-color: transparent;  
}

.corporate h3::before{
    content: '';
    height: 1px ;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: -45px;
}

.corporate h3::after{
    content: '';
    height: 1px ;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: -45px;
}
.corporate  p{
  
    position: relative;
    margin-top: 20px;
    line-height: 3rem;

}




.corporate .icons .container 
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.corporate .icons img{
    height: 120px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     color: lightgray;
 }
 .corporate .icon-wrapper2
 {
     display: flex;
     align-items: center;
     justify-content: center;
     
     
 }

 .corporate .icon-wrapper2 .icons2{
     width: 32%;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }
 .corporate .icon-wrapper2 .icons2 .icon img{
     height: 100px;
     width: 100px;
     border-radius: 10px;
    
   
   

 }




/* .features p::before{
    content: '';
    height: 2px ;
    width: 100px;
    background-color: #E15352;
    position: absolute;
}
.features p::after{
    content: '';
       
    height: 2px ;
    width: 100px;
    background-color: #E15352;
    position: absolute;
    bottom: 0;
    right: 0;


} */