*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    /* height: 200vh; */
}

.position1
{ padding: 0px 50px;

}
.header
{
    background-color: white;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    position: fixed;
   
    width: 100%;
}

.logo img{
    height: 35px;
    
}
.header .links{
    width: 60%;
   padding-top: 13px;
 
   
}

.header .links ul{
    display: flex;
 
    justify-content: space-between;
    align-items: center;
}
.header .links ul li{
   list-style: none;
}

.header .links ul li a{
    text-decoration: none;
    color: black;
}

.header .hamburger
{
    display: none;
}

.header .links ul .login
{
    border-radius: 20px;
    color: white;
    background-color: #E15352;
    padding: 5px 20px;
}

.home
{

    height: 90vh;
    width: 100%;
    background: url(../assests/homebackground.jpg) no-repeat;
    /* filter: blur(8px); */
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}
.home .leftcol
{

    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.home .leftcol .buttons
{
   
    display: flex;
    justify-content: flex-start;
}
.home .leftcol button{
   padding: 5px 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 25%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 30px;
}

.home .leftcol .buttons button:nth-child(2)
{
    background-color: white;
    color: black;
    border: 1px solid black;
}


.home .leftcol img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    /* border: 1px solid white; */
}


.home h1{

    color: black;
    font-weight: bold;
    /* position: absolute; */
}

.home h1 span{
    color: #E15352;
    
}

.home .leftcol button{
   
    font-size: 8px;
    border: 1px solid white;
}
.home .leftcol button span{
    font-size: 12px;
}

.home .leftcol .logo{
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.home .leftcol .logo img{
   
    height: 40px;
    width: 150px;
   
}

.whyus h3{
    color: #E15352;
    position: relative;
    background-color: black;
   
}

.whyus h3::before{
    content: '';

    height: 1px ;
    width: 40px;
    background-color: white;
    position: absolute;

    top: 50%;
   left: -45px;
}

.whyus h3::after{
    content: '';
   
    height: 1px ;
    width: 40px;
    background-color: white;
    position: absolute;

    top: 50%;
   right: -45px;
    /* top: 20px; */


}
.whyus  p{
    position: relative;
    margin-top: 20px;
    line-height: 3rem;
 ;
    /* border: 1px solid white; */


}

.whyus p::before{
    content: '';
    height: 1px ;
    width: 100px;
    background-color: #E15352;
    position: absolute;
}
.whyus p::after{
    content: '';
       
    height: 1px ;
    width: 100px;
    background-color: #E15352;
    position: absolute;
    bottom: 0;
    right: 0;


}

.whyus
{
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}
